@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Noto+Serif+Hebrew:wght@100..900&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/Banner.css");
@import url("components/card.css");


body {
	font-family: 'Noto serif Hebrew;', serif;
	font-size: 18px;
	margin: 0;
}

h1, h2, h3 {
	font-family: 'El Messiri', serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:hover {
	color: #434371;
}












